.container{
    display: flex;
}
.box1{
  width: 100px;
  height: 100px;
  border: 2px solid green;
}
select{
    width: 200px;
}
#update{
    border: 1px solid  green;
    background-color: chartreuse;
    margin: 20px;
    padding: 5px 30px;
}
